<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

      <app-breadcrumb></app-breadcrumb>

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->


      
              <router-outlet></router-outlet> 


      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->


  </div>
  <!-- ============================================================== -->
  <!-- END Page wrapper  -->
  <!-- ============================================================== -->

</div>
